header.toolbar{
    position: fixed;
    top:0;
    left:0;
    width:99vw;
    background:rgba(74, 75, 77, 1);
    height:76px;
    z-index: 100!important;
    padding: 0;
}

.toolbar_logo img {
   max-width: 220px;
}
.toolbar_logo{
    margin-left:1.1rem;
}

.toolbar_nav{
   display: flex;
   align-items:center;
   height:100%;
   width:100%;
   padding:0;
   margin: 0 1rem;
}

.toolbar-navigation-items a {
    color:white;
    text-decoration: none;
}

.toolbar-navigation-items ul {
    list-style:none;
    text-decoration: none;
    margin:0;
    padding:0;
    display: flex;
}
.toolbar-navigation-items{
  margin-right: 4%;
}
.toolbar-navigation-items li {
  margin-left: 20px;
}
.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
    color:#FEB032;
}
.dropdown-menu{
    padding:0;
}

.active.dropdown{
    background-color:none; 
    color:#FEB032;
}

.btn-secondary:hover{
    color:#FEB032;
    background-color:transparent;
    border-color:transparent;
}
.btn-secondary{
    color:#fff;
    background-color:transparent;
    border-color:transparent;
}

a.dropdown-item.active{
    background-color:rgb(58, 58, 58);
    padding:.40rem;
}

.spacer{
    flex:1;
}

@media (max-width:768px){
    .toolbar-navigation-items{
        display: none;
    }
}
@media (min-width:769px){
    .nav-toggler{
        display: none;
    }
}
