/* Landing Page */

.company-tagline{
    text-align: center;
    position: relative;
    z-index: 1!important;
}
.carousel-container{
    position: relative;
}
div.newsletter-container{
    margin-top:20%!important;
    z-index: 1!important;
    width:100vw!important;
}

#company-copy{
    font-size: 1em!important;
    text-align: center;
    position:relative;
}


@media only screen and (min-width: 800px) {
.carousel{
    position: relative;
    width:100%;
    
}

img.carousel-img{
    width:100%;
    height:100%!important;
    overflow: hidden;
    z-index: 0;
    }
}

@media only screen and (max-width: 500px) {
    .carousel{
        position: relative;
        height:90%;

    }
    .carousel-img{
        width:auto;
        height:93vh;
        z-index: 0;
    }
    .company-tagline{

        text-align: center;
    }
    
}

.email-input{
    margin-top:20px;
    border-radius:30px;
    height:40px;
    text-align: center;
}

/* Mission Container */

#mission-container{
    margin-top:40px;
}

/* Footer Container */
.footer-container{
    background-color:grey;
}

/* Resources Page */
.resources-container{
    text-align: center;
}
#resources-header{
    margin-top: 3%;
    font-size: 3rem;
}
#resources-links{
    text-align:center;
    justify-content: center;
}
#resources-search{
   margin:auto;
}

#search-style{
    text-align: center;
    border-radius:50px;
    height:2rem;
}

#important-dates-header{
    font-size: 1.4rem;
    text-align: center;
}