html{
    height:100%;
}
body {
    margin-top:76px;
    padding:0;
    height:100%;
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
}

p1,p2{
  font-family: 'Raleway', sans-serif;
}

/* Landing Page */
.company-tagline{
    text-align: center;
    position: relative;
    z-index: 0!important;
}
.carousel-container{
    position: relative;
}

div.newsletter-container{
    margin-top:20%!important;
    z-index: 1!important;
    width:100vw!important;
}


.email-input{
    margin-top:20px;
    border-radius:30px;
    height:40px;
    text-align: center;
}








/* Testimonial Section */


/* Contact form */
.contact-form{
    margin-top:2%;
    margin-bottom:2%;
}

.contact-button-container{
    margin-top:20px!important;
    margin:auto;
}
