/* Footer Container */
.footer-container {
    background-color: rgba(74, 75, 77, 1);
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.footer-item {
  display: table;
  border-spacing: 15px;
  color:white;
}

#footer-logo img {
  display: table-cell;
  max-width: auto;
  height: 80px;
}

#footer-address {
  display: table-cell;
  vertical-align: middle;
}

#footer-other {
  text-align: right;
  vertical-align: middle;
}

