/* Footer Container */
.footer-container-global{
  display: flex;
  flex-direction: column;
}
#footer-container-content {
    background-color: rgba(74, 75, 77, 1);
    height:100px;
    width:100%;
    display: flex;
    flex-direction: row;
}

.footer-item {
  min-width:16%;
  margin-right:5%;
  display: table;
  border-spacing: 15px;
  color:white;
  text-align: center;
}

#footer-logo img {
  display: table-cell;
  max-width: 100%;
  height: auto;
  margin-left: 5%;
}

#footer-address {
  display: table-cell;
  vertical-align: middle;
}

#footer-other {
  text-align: right;
  vertical-align: middle;
}

.footer-header{
  font-size:1.2rem;
  margin:0;
}
.footer-ad-space{
  width:100%;
  height: 30px;
  background-color: rgba(20,20,20,.8);
  color:#e1e1e1;
  text-align: center;
  padding-top: 4px;
}