/* Carousel */

.overlay{
    position: absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background: rgba(0, 0, 0,0.75);
    z-index: 1!important;
}

#splash-text{
    font-family: 'Orbitron', sans-serif;
    font-size:2.8rem;
    color:white;
    position: absolute;
    z-index: 50!important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.slide-container{
    width: 100%;
    height:70vh;
    background-size: cover;
    position: relative;
}
.carousel-img img{
    width:100%;
    height:100%;
    overflow: hidden;
    gma
    
    top: 0;
    left: 0;
}
.carousel-img{
    width:100%;
    height:100%;
}
#company-copy{
    font-size: 1em!important;
    text-align: center;
    position:relative;
}

#text-container{
    width:100%;
    height:100%;
    position: absolute;
    top:25%;
}


#text-container p{
    margin-top:80px;
    font-size:1.5rem;
    color:white;
    position: absolute;
    z-index: 50!important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#text-container input{
    margin-top:150px;
    font-size:1rem;
    color:white!important;
    width:auto;
    position: absolute;
    z-index: 50!important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 39px;
    text-align: center;
}

#text-container button{
    margin-top:155px;
    padding-left:20px; 
    padding-right:20px; 
    font-size:1.2rem;
    width:auto;
    position: absolute;
    z-index: 51!important;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 39px;
    text-align: center;
}
.modal-row{
    margin-bottom:10px;
}


@media only screen and (min-width:760px) {
.carousel{
    position: relative;
    width:100%;

}


img.carousel-img{
    width:100%;
    height:100%!important;
    overflow: hidden;
    z-index: 0;
    }
}

@media only screen and (max-width: 759px) {
    .slide-container{
        height:85vh;
    }
    
    #text-container p{
        margin-top:40px;
        font-size:1.1rem;
        color:white;

    }
    .carousel-img img{
        width:auto;
        height:100%;
        overflow: hidden;
        z-index: 0;
    }
    .company-tagline{
        text-align: center;
    }
    #splash-text{
        font-size: 22px;
    }
}

.landing-form{
  width:500px;
  position:absolute;
  z-index: 110!important;
}

