/* Team */
.team-container{
    display:flex;
}

.team-bio{
    display:none;
 }
 
.team-bio-is-expanded{
    font-size:.9rem;
    text-align: left;
    display: block;
    position: relative;
}

.parallax-slider img{
    position: relative!important;
}